<div class="row">
  <h1>New Password</h1>

  <%= form_tag set_new_password_path, method: 'post', id: 'forgot-password' do %>

    <div class="mb-3">
      <%= label_tag :password, 'Password' %>
      <%= password_field_tag :password, @password, required: true, class: 'form-control',
                             autocomplete: 'new-password', minlength: 6 %>
      <%= hidden_field_tag :token, @token %>
    </div>

    <div class="mb-3">
      <%= submit_tag 'Submit', class: 'btn btn-primary mb-3' %>
    </div>

  <% end %>
</div>

